 <!doctype html>
<html lang="en" ng-app="artistApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="CD collection">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>CD collection - artists</title>
  
  <link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap-theme.min.css" />
  <link rel="stylesheet" media="screen" href="/public/stylesheets/theme.css" />
  <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png" />

</head>
<body onload="javascript:toggleActiveNavbarItemOn('artistMenuItem')">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CD Collection</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li id="artistMenuItem"><a href="/pages/artists">Artists</a></li>
          <li id="albumOrderMenuItem"><a href="/pages/albums">Albums</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


  <div class="container theme-showcase" role="main">
    
    <header>
      <h1>Artists</h1>
    </header>

    <article ng-controller="ArtistController as artistList">

      <div class="row">  
        <!-- Modal -->
        <div class="modal fade" id="manageArtistWindow" tabindex="-1" role="dialog" aria-labelledby="addArtistWindow">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="manageArtistWindow">{{artistList.manageWindowTitle}}</h4>
              </div>

              
              <form ng-submit="artistList.setArtist()">
                <div class="modal-body">
                  Artist name: <input type="text" ng-model="artistList.formArtistName" /> <br />
                  Sort name: <input type="text" name="sortname" ng-model="artistList.formSortName" /> <br />
                  <!-- <input type = "text" name="parentartistId" ng-model="parentArtistId" /> -->
                </div>  

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">{{artistList.manageWindowAction}}</button>
                </div>
              </form>

            </div>  
          </div>  
        </div>
      </div>

      <!-- Generic notification window -->
      <div class="modal fade" id="genericNotificationWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{artistList.genericNotificationTitle}}</h4>
            </div>
            <div class="modal-body">
              <p>{{artistList.genericNotificationMessage}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Generic choice window --> 
      <div class="modal fade" id="genericChoiceWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{artistList.genericWindowTitle}}</h4>
            </div>
            <div class="modal-body">
              <p>{{artistList.genericWindowMessage}}</p>
            </div>
            <div class="modal-footer">
              <form ng-submit="artistList.genericWindowFunction()">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">{{artistList.genericWindowAction}}</button>
              </form>  
            </div>
          </div>
        </div>
      </div>      
      
      <section>
        <div class="row">
          <p>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" ng-click="artistList.manageArtist(true, null)">
              Add new artist
            </button>
          </p>
          <p>Search artists:
          <input type="Text" name="artistsearch" ng-model="artistList.artistSearchTerm" />
          </p>
        </div>
      </section>
      
      <section>  
        <span ng-show="artistList.dataError" style="color:red">Waiting for artist data.</span>

         <div class="row">
           <div class="col-md-6">
             <table class="table table-striped" data-ref="artistList">
               <tr>
                 <th>Artist</th>
                 <th>Parent artist</th>
                 <th>Actions</th>
               </tr>  

               <tr ng-repeat="artist in artistList.artists | filter:artistList.artistSearchTerm">
                 <td>{{artist.displayName}}</td>
                 <td>{{artist.parent.displayName}}</td>
                 <td><a href ="" data-toggle="modal" ng-click="artistList.manageArtist(false, artist)">Update</a> |
                 <a href="" data-toggle="modal" ng-click="artistList.deleteArtist(artist)">Delete</a> |
                 <a href="">Show albums</a> |
                 <a href="">Add album</a></td>
               </tr>  

            </table>
          </div>
        </div>
      </section>
    </article>
    
  </div>
  
  <script src="/public/javascripts/bower_components/angular/angular.js"></script>
  <script src="/public/javascripts/bower_components/angular-route/angular-route.js"></script>
  <script src="/public/javascripts/cd-collection.js"></script>
  <script src="/public/javascripts/bower_components/angular/angular.js"></script>
  <script src="/public/javascripts/bower_components/angular-route/angular-route.js"></script>
  <script src="/public/javascripts/artistApp.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/public/javascripts/bootstrap.min.js"></script>
</html>
