<!doctype html>
<html ng-app="artistApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="CD collection">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>CD collection - artists</title>
  
  <link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap-theme.min.css" />
  <link rel="stylesheet" media="screen" href="/public/stylesheets/theme.css" />
  <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png" />

</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CD Collection</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li id="artistMenuItem"><a href="/artists">Artists</a></li>
          <li id="albumOrderMenuItem"><a href="/albums">Albums</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


  <div class="container theme-showcase" role="main">

    <section>
      <header>
        <h1>Artists</h1>
      </header>
    
      <article ng-controller="ArtistController as artistList">

        <div class="row">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addArtistWindow">
            Add new artist
          </button>
        </div>
        
        <div class="row">  

          <!-- Modal -->
          <div class="modal fade" id="addArtistWindow" tabindex="-1" role="dialog" aria-labelledby="addArtistWindow">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="addArtistWindow">Add artist</h4>
                </div>

                
                <form ng-submit="artistList.createArtist()">
                  <div class="modal-body">
                    Artist name: <input type = "text" name="artistname" ng-model="artistList.formArtistName" /> <br />
                    Sort name: <input type = "text" name="sortname" ng-model="artistList.formSortName" /> <br />
                    <!-- <input type = "text" name="parentartistId" ng-model="parentArtistId" /> -->
                  </div>  

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add new artist</button>
                  </div>
                </form>

              </div>  
            </div>  
          </div>
        </div>

        <span ng-show="artistList.dataError" style="color:red">Error retrieving Artist list.</span>
      
         <div class="row">
           <div class="col-md-6">
             <table class="table table-bordered" data-ref="artistList">
               <tr>
                 <th>Artist</th>
                 <th>Parent artist</th>
                 <th></th>
                 <th></th>
                 <th></th>
                 <th></th>
               </tr>  

               <tr ng-repeat="artist in artistList.artists">
                 <td>{{artist.displayName}}</td>
                 <td>{{artist.parent.displayName}}</td>
                 <td><a href ="#" data-toggle="modal" data-target="#editPersonWindow">Edit</a></td>
                 <td><a href="#">Delete</a></td>
                 <td><a href="#">Albums</a></td>
                 <td><a href="#">Add album</a></td>
               </tr>  

            </table>
          </div>
        </div>
      
      </article>
    </section>
  </div>
  
  <script src="/public/javascripts/bower_components/angular/angular.js"></script>
  <script src="/public/javascripts/bower_components/angular-route/angular-route.js"></script>
  <script src="/public/javascripts/cd-collection.js"></script>
  <script src="/public/javascripts/bower_components/angular/angular.js"></script>
  <script src="/public/javascripts/bower_components/angular-route/angular-route.js"></script>
  <script src="/public/javascripts/artistApp.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/public/javascripts/bootstrap.min.js"></script>
</html>
